<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
	<extensions>
		<add assembly ="Nlog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type ="File" name ="all_logs"  fileName="c:\temp\log.txt" />
		<target xsi:type="File" name="relevant_logs" fileName="c:\temp\log_relevant.txt" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="all_logs" />
		<logger name="*" minlevel="Warn" writeTo="relevant_logs" />
	</rules>
</nlog>